.card-container {
    display: flex;
    flex-direction: column;
    background-color: #2708709a;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}

@font-face {
    font-family: monstersName;
    src: url(../fonts/mrsmonsterout.ttf);
  }
  
  .monstersName{
    font-family: monstersName;
    color: white;
    letter-spacing: 2px;
}

.email{
    color: white;
}